<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HP_PRIME_CODE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HP_PRIME_CODE.Properties.Settings>
            <setting name="CaseSensitiveSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WholeWordSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreserveCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>"Fira Mono"</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="IdiomaSettings" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TemaSettings" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TransparenciaSettings" serializeAs="String">
                <value>0</value>
            </setting>
        </HP_PRIME_CODE.Properties.Settings>
    </userSettings>
</configuration>